# package directories
node_modules
jspm_packages
dist

*.zip

# Terraform directories
.terraform
*.tfstate

# esbuild directories
.esbuild
.DS_Store
build

# extensions
.vscode

# coverage
coverage

# env
.env

*.pem